@charset "UTF-8";
@media (max-width: 1456px){
    #nav-bar{
        font-size: .8em;
    }
    
}
@media (max-width: 1200px){
 
    #nav-bar{
        font-size: .5em;
        min-width: 320px;
    }
   
    .infor-rodape h3{
        text-align: center;
    }
.developer-container01 img,
.mobile-container02 img,
.desktops-container03 img,
.completo-container04  img,img{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 60%;
}

.developer-container01,
.mobile-container02,
.desktops-container03,
.completo-container04 {
    margin-left: 0 auto;
   
    
}
.contact h2, .enter h2, .apoie h2 {
    font-size: .7em;
    

}.logo-flavio h1{
    margin-top: 10px;
    font-size: 2.5em;
  
}
.direitos-de-imagem{
    text-align: center;
}
@media (max-width: 482px){
    .container-navbar{
        flex-direction: column;
    }
    .content-nav-bar h2{
        font-size: 1.7em;
    }
    .logo-flavio h1{
        font-size: 3em;
    }
    .logo-flavio{
        margin: 0 auto;
    }
}
