@charset "UTF-8";
@media (max-width: 1456px){
    #cabecalho{
        font-size: .7em;
    }
    #nav-bar{
        font-size: .8em;
    }
    .img-history01, .img-history02, .img-history03, .img-history04{
        min-height: 200px;
       
        min-width: 200px;
       
    }
}
@media (max-width: 1200px){
    #cabecalho{
        font-size: .5em;
    }
    #nav-bar{
        font-size: .5em;
    }
   
    .infor-rodape h3{
        text-align: center;
    }
    .logo-flavio{
        display: none;
    }
    .developer-container01,
.mobile-container02,
.desktops-container03,
.completo-container04 {
    margin-left: 30px;
   
    
}
   

