@media (max-width: 1456px){
    #cabecalho{
        font-size: .7em;
    }
    #nav-bar{
        font-size: .8em;
    }
    .img-history01, .img-history02, .img-history03, .img-history04{
        min-height: 200px;
        max-height: 200px;
        min-width: 200px;
        max-width: 200px;
    }
}
@media (max-width: 1200px){
    #cabecalho{
        font-size: .5em;
    }
    #nav-bar{
        font-size: .5em;
    }
    .img-history01, .img-history02, .img-history03, .img-history04{
        min-height:150px;
        max-height:150px;
        min-width: 150px;
        max-width: 150px;
    }
   
   
}