@charset "UTF-8";
@media (max-width: 1456px){
    #nav-bar{
        font-size: .8em;
    }
    
}
@media (max-width: 1200px){
 
    #nav-bar{
        font-size: .5em;
        min-width: 320px;
    }
   
    .infor-rodape h3{
        text-align: center;
    }
.developer-container01 img,
.mobile-container02 img,
.desktops-container03 img,
.completo-container04  img,img{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 60%;
}

.developer-container01,
.mobile-container02,
.desktops-container03,
.completo-container04 {
    margin-left: 0 auto;
   
    
}
.button {
    font-size: 1.7em;
    

}.logo-flavio h1{
    margin-top: 10px;
    font-size: 2.5em;
  
}
.direitos-de-imagem{
    text-align: center;
}
@media (max-width: 560px){
    .container-navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .buttons-container{
        display: flex;
        flex-direction: ;
        justify-content: center;
        align-items: center;
        background-color: #FEF5ED;

    }
    .buttons{
        margin: 7px;
    }
    .content-nav-bar{
        margin-right: 0px;
        width: 100%;
    }
    .content-nav-bar h2{
        font-size: 1.6em;
    }
    .logo-flavio h1{
        font-size: 3em;
    }
    .logo-flavio{
        margin: 0 auto;
        padding: 0px;
        
    }
    .iforms-rodape{
        margin-bottom: 0 auto;
    }
    .infor-rodape{
        margin: 5px auto;
        width: 100%;
        text-align: center;
    }
    .container-main{
        margin-bottom: 10px;
        margin-top: 5px;
    }.logo-flavio img{
        width: 120px;
        height: 120px;
    }
    .developer-container01{
        width: 100%;
        background-color: #76BA99;
    }
    .mobile-container02{
        width: 100%;
        background-color: #ADCF9F;
        
    }
     .desktops-container03{
        width: 100%;
        background-color: #CED89E;
    }
     .completo-container04{
        width: 100%;
        background-color: #FFDCAE;
    }
    .photos-container05{
        width: 100%;
        background-color: #a8cc8e;
    
 }
 .container-main img{
    padding-top: 10px;
    margin-top: 10px;
 }   

}
