@media (max-width:1197px){
    #main{
        
    }
    .content-txt-main h1{
    font-size: 3em;

}
    .content-mobile,
    .content-desktops,
    .content-full{
        height: 300px;
        width: 200px;
}
    .content-list-mobile,
    .content-list-desktops,
    .content-list-full{
    
        min-width: 40%;
        min-height: 65%;

}

}
@media (max-width:1180px){
    #main{
        align-items: flex-start;
        margin: 0 auto;
    }
    .content-txt-main{
        margin-top: 40px;
    }
    .content-txt-main h1{
        font-size: 3em;
    
    }
  

       
}



@media(max-width:720px){
    .content-txt-main h1{
        font-size: 2em;
    } 
    .content-mobile,
    .content-desktops,
    .content-full{
        min-height: 250px;
        min-width: 50px;
}
    .content-list-mobile,
    .content-list-desktops,
    .content-list-full{
    
}
.img-content img{
    width: 80%;
    height: 80%;
}


}

