@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@1.900 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

*{
    padding: 0PX;
    margin: 0px;
}
html{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
body{
    background-image: url('../images/backgrounds/001.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    min-width: 100%;
    font-family: sans-serif;
    letter-spacing: 1px;
   
}
@font-face {
    font-family: 'Rockit';
    src: url('../fonts/Rockit.otf');
}
@font-face {
    font-family: "Storm";
    src: url('../fonts/stormfaze.otf');
}
@font-face {
    font-family: 'Hell';
    src: url('../fonts/Living\ Hell.otf');
}
:root{
    --fonte-rockit:'Rockit';
    --font--storm:'Storm';
    --font-hell:'Hell';
   
    --cor-001:#051933;
    --cor-01: #140570;
    --cor-02: #113f62dd;
    --cor-03: #6EBDEB;
    --cor-04: #3863d0d7;
    --cor-05: #041C39;
    --cor-06: #dfdbdb;
    --cor-07: #0D0D0D;
    --cor-08: #262626;
    --cor-09: #595959;
    --cor-10: #A6A6A6;
    --cor-11: #a1a1a1;
    --cor-12: #FFF159;  
    --cor-13: #2e89f9d6;      
}
#cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-02);
    max-width: 80%;
    min-width: 320px;
    margin: auto;
    min-height: 100px;
   
}
#cabecalho h1{
    font-size: 3em;
    text-align: center;
    color: rgb(241, 241, 241);
    text-transform: uppercase;
    text-shadow: 5px 5px 5px rgba(64, 64, 64, 0.882);
    font-family: 'Roboto', sans-serif;

}
#nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    min-width: 320px;
    margin: auto;
    min-height: 50px;
    background-image: url('../images/backgrounds/007.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#nav-bar a{
    text-decoration: none;
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    margin: 10px;
}
.main{
    background-image: url('../images/backgrounds/007.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 90%;
    max-width: 80%;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    justify-content:  center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    box-shadow: 12px 12px 12px rgba(26, 26, 26, 0.839);
 }
 .history01, .history02, .history03, .history04{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    min-height: 250px;
    min-width: 250px;
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.904);
 }
 .history01{
    background-image: url('../images/backgrounds/014.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto; 
 }
.history01:hover{
    opacity: 80%;
    transition-duration: .5s;
    color: antiquewhite;
    font-size: 1.3em;
}
.history02:hover{
    opacity: 1600px;
    transition-duration: .5s;
    color: antiquewhite;
    font-size: 1.3em;
}
.history03:hover{
    opacity: 80%;
    transition-duration: .5s;
    color: antiquewhite;
    font-size: 1.3em;
}
.history04:hover{
    opacity: 80%;
    transition-duration: .5s;
    color: antiquewhite;
}
 .history02{
    background-image: url('../images/backgrounds/009.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .history03{
    background-image: url('../images/backgrounds/014.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .history04{
    background-image: url('../images/backgrounds/011.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(42, 42, 43);
 }
 #social-media{
    max-width: 80%;
    min-width: 320px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0d0ddc;
    min-height: 90%;
}
 #social-media img{
    margin: 5px;
    
 }
 .btn_social-medias{
    border-radius: 5px;
    background-color: #051933;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px
 }
 .btn_facebook:hover, .btn_instagram:hover, .btn_youtube:hover, .btn_linkedin:hover, .btn_github:hover{
    opacity: 60%;
    transition-duration: .4s;
    cursor: pointer;
 }
#article-history{
    background-image: url('../images/backgrounds/007.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 80%;
    min-width: 320px;
    height: 20%px;
    margin: auto;
}
.content-article h2{
   color: #fff;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   padding: 10px;
}
.content-article p{
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    color: white;
    padding: 25px;
}
.informs-rodape{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--cor-02);
    max-width: 80%;
    min-width: 320px;
    margin: auto;
    min-height: 80px;
    color: antiquewhite;
}
.infor-rodape{
   padding: 0px;
    margin: 0px;
}
.infor-rodape h3{
    font-size: 1.2em;
}
.infor-rodape{
    margin: 20px;    
}
.infor-rodape li{
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: .9em;
}
.logo-flavio{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background-color: #23232378;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 15px;
}
.footer{
    max-width: 80%;
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.814);
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: white;
}
