@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@1.900 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


@font-face {
font-family: 'Rockit';
src: url('../fonts/Rockit.otf');
}

@font-face {
font-family: "Storm";
src: url('../fonts/stormfaze.otf');
}

@font-face {
font-family: 'Hell';
src: url('../fonts/Living\ Hell.otf');
}

:root {
--fonte-rockit: 'Rockit';
--font--storm: 'Storm';
--font-hell: 'Hell';
}

* {
padding: 0PX;
margin: 0px;
}

html {
margin: 0 auto;
padding: 0;
height: 100%;
width: 100%;
min-width: 340px;
box-sizing: border-box;
}

body {
min-height: 100%;
min-width: 100%;
font-family: 'Josefin Sans', sans-serif;
background-color: #cccccc;
}

/*SEÇÃO  DO CONTAINER NAVEGAÇÃO*/
#container-header{
min-width: 420px;
display: flex;
justify-content: center;
align-items: center;
background-image: linear-gradient( 99deg,  rgb(144, 26, 102) 10.6%, rgba(28,28,28,1) 118% );
}
.box-logo-fm{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
min-width: 80px;
min-height: 60px;
border-radius: 20px;
margin-top: 20px;
padding: 10px;
text-align: center;
color: white;
border: 1px solid rgba(133, 159, 198, 0.813);
box-shadow: 3px 3px 3px 3px rgba(68, 67, 67, 0.801);
margin: 15px;


}
.box-logo-fm h1{
    font-size: 2.5em;

}
#text-porti{

color: #eeeeee;
font-weight: 450;
font-size: 2em;
text-align: center;


}

.content-nav-bar2{
background-image: linear-gradient( 99deg,  rgba(115,18,81,1) 10.6%, rgba(28,28,28,1) 118% );
border-top: 1px solid rgba(255, 239, 213, 0.629);
min-height: 50px;
min-width: 420px;
display: flex;
justify-content: center;
align-items: center;


}
.content-nav-bar2 ul{
display: flex;

}
.content-nav-bar2 ul>li{
list-style-type: none;
font-size: 1.5em;
color: #f0f0f0;
margin-top: 30px;
display: flex;
justify-content: center;
align-items: center;
margin: 15px;

}.listas li{
    margin-top: 30px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu-content01{
    border: 2px solid rgb(57, 186, 46);
    margin-bottom: 8px;
    width: 26px;

}
.menu-content02{
    border: 2px solid rgb(57, 186, 46);
    margin-bottom: 8px;
    width: 26px;
}
.menu-content03{
    border: 2px solid rgb(62, 206, 79);
    width: 26px;
}


/*SEÇÃO  DO CONTAINER MAIN*/
#main{
    min-width: 420px;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( 99deg,  rgba(115,18,81,1) 10.6%, rgba(28,28,28,1) 118% );
    
    
}
.desenvolvedor,
.mobile,
.desktops,
.completos{
    border-radius: 19px;
    margin: 10px;
    min-width: 380px;
    height: 180px;
    background-color: #edf2f4;
    box-shadow: 3px 3px 3px 3px rgba(19, 19, 19, 0.602);
    transition: transform .7s;
}
.desenvolvedor:hover,
.mobile:hover,
.desktops:hover,
.completos:hover{
    transform: scale(.9);
    box-shadow: none;
}
.desenvolvedor img,
.mobile img,
.desktops img,
.completos img{
    width: 48px;
    height: 48px;
    padding: 10px 0px 0px 10px;
}
.content-dev{
    
    min-width: 80%;
    min-height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
}
/*SEÇÃO  DO CONTAINER INFORMAÇÕES DO RODAPÉ*/
.informs-rodape {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
background-color: #edf2f4;
border-top: 1px solid rgba(255, 218, 185, 0.357);
max-width: 100%;
min-width: 320px;
margin: auto;
min-height: 190px;
min-width: 420px;
}
.infor-rodape {
min-width: 260px;
min-height: 120px;
padding: 0px;
margin: 5px;
margin-top: 10px;
text-align: center;
}
.infor-rodape h3 {
font-size: 1.2em;
font-family: 'Roboto', sans-serif;
color: #1b1b1b;
}
.infor-rodape ul {
padding: 0px;
min-height: 150px;
}
.infor-rodape li  {
list-style-type: none;
font-family: 'Roboto', sans-serif;
font-weight: normal;
font-size: .9em;
color: #171616;
padding: 0px;
margin: 0px;
}
.direitos-de-imagem li>a{
color: #151414;
text-decoration: none;
}

.content_btn_social-medias{
display: flex;
justify-content: center;
align-items: center;
background-color: #edf2f4;
min-width: 420px;
max-width: 100%;
}
.btn_facebook,
.btn_instagram,
.btn_youtube,
.btn_linkedin,
.btn_github {
transition: transform .5s;
border-radius: 30%;
margin: 10px;
width: 30px;
height: 30px;
}
.btn_facebook:hover,
.btn_facebook:hover,
.btn_instagram:hover,
.btn_youtube:hover,
.btn_linkedin:hover,
.btn_github:hover {
transform: scale(1.5);
}


.footer {
max-width: 100%;
min-width: 420px;
display: flex;
justify-content: center;
align-items: center;
height: 50px;
margin: auto;
background-color: #e4ebef;
font-family: 'Roboto', sans-serif;
font-weight: normal;
color: #000000;
}