@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@1.900 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


@font-face {
font-family: 'Rockit';
src: url('../fonts/Rockit.otf');
}

@font-face {
font-family: "Storm";
src: url('../fonts/stormfaze.otf');
}

@font-face {
font-family: 'Hell';
src: url('../fonts/Living\ Hell.otf');
}

:root {
--fonte-rockit: 'Rockit';
--font--storm: 'Storm';
--font-hell: 'Hell';
}

* {
padding: 0PX;
margin: 0px;
}

html {
margin: 0 auto;
padding: 0;
height: 100%;
width: 100%;
min-width: 340px;
box-sizing: border-box;
}

body {
min-height: 100%;
min-width: 100%;
font-family: 'Josefin Sans', sans-serif;
background-color: red;
}

/*SEÇÃO  DO CONTAINER NAVEGAÇÃO*/
#container-header{
display: flex;
justify-content: center;
align-items: center;
background-color: #293241;
}
.box-logo-fm{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
min-width: 80px;
min-height: 60px;
border-radius: 10px;
margin-top: 20px;
padding: 5px;
text-align: center;
color: white;
background-image: linear-gradient(to right,#31212C,#FF3165);
}
#text-porti{
margin: 20px 0px 0px 10px ;
color: #eeeeee;
font-weight: 450;
border-bottom: 1px solid white;

}

.content-nav-bar2{
background-color: #293241;
min-height: 50px;
display: flex;
justify-content: center;
align-items: center;

}
.content-nav-bar2 ul{
display: flex;

}
.content-nav-bar2 ul>li{
list-style-type: none;
font-size: 1.5em;
color: #f0f0f0;
margin-top: 30px;
display: flex;
justify-content: center;
align-items: center;
margin: 15px;

}.listas{
    margin-top: 30px;
}

/*SEÇÃO  DO CONTAINER MAIN*/
#main {
background-color: #2C3333;
max-width: 100%;
min-width: 320px;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
margin: auto;
}
.container-main {
width: 100%;
min-height: 100vh;
background-color: #ee6c4d;

background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}
.sub-content-main01{

display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
.sub-content-main02{

display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
/*SEÇÕES DAS IMGENS  DO CONTAINER MAIN*/
.developer-container01,
.mobile-container02,
.desktops-container03,
.completo-container04,
.photos-container05 {
margin: 10px;
text-align: center;
color: whitesmoke;
padding: 0px 5px 10px 5px;

}
.developer-container01 a,
.mobile-container02 a,
.desktops-container03 a,
.completo-container04 a,
.photos-container05 a {
text-decoration: none;
color: wheat;
}
.developer-container01 a:hover,
.mobile-container02 a:hover,
.desktops-container03 a:hover,
.completo-container04 a:hover,
.photos-container05 a:hover {
text-decoration: underline;
}
.developer-container01 h1,h2,.mobile-container02 h1,h2,.desktops-container03 h1,h2,.completo-container04 h1,h2,.photos-container05 h1,h2 {
margin-top: 25px;
color: #e0fbfc;
}
.developer-container01 img,
.mobile-container02 img,
.desktops-container03 img,
.completo-container04 img{
box-shadow: 5px 5px 5px 5px rgba(34, 33, 33, 0.548);
border-radius: 30% 10px 30% 10px;
background-color:#c4e1f2;
border: 1px solid rgba(255, 255, 255, 0.482);
padding: 5px;
transition: transform .5s;
}
.developer-container01 img:hover, 
.mobile-container02 img:hover,
.desktops-container03 img:hover,
.completo-container04 img:hover{ 
transform: scale(0.9);
box-shadow: none;
}

/*SEÇÃO  DO CONTAINER INFORMAÇÕES DO RODAPÉ*/
.informs-rodape {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
background-color: #293241;
max-width: 100%;
min-width: 320px;
margin: auto;
min-height: 190px;
}
.infor-rodape {
min-width: 260px;
min-height: 120px;
padding: 0px;
margin: 5px;
margin-top: 10px;
text-align: center;
}
.infor-rodape h3 {
font-size: 1.2em;
font-family: 'Roboto', sans-serif;
color: #e6e6e6;
}
.infor-rodape ul {
padding: 0px;
min-height: 150px;
}
.infor-rodape li {
list-style-type: none;
font-family: 'Roboto', sans-serif;
font-weight: normal;
font-size: .9em;
color: #cccccc;
padding: 0px;
margin: 0px;
}
.direitos-de-imagem li>a{
color: #e1e1e1;
text-decoration: none;
}

.content_btn_social-medias{
display: flex;
justify-content: center;
align-items: center;
background-color: #293241;
max-width: 100%;
}
.btn_facebook,
.btn_instagram,
.btn_youtube,
.btn_linkedin,
.btn_github {
transition: transform .5s;
border-radius: 30%;
margin: 10px;
width: 30px;
height: 30px;
}
.btn_facebook:hover,
.btn_facebook:hover,
.btn_instagram:hover,
.btn_youtube:hover,
.btn_linkedin:hover,
.btn_github:hover {
transform: scale(1.5);
}


.footer {
max-width: 100%;
min-width: 320px;
display: flex;
justify-content: center;
align-items: center;
height: 60px;
margin: auto;
background-color: #98c1d9;;
font-family: 'Roboto', sans-serif;
font-weight: normal;
color: #000000;
}