@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@1.900 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );*/

@font-face {
font-family: 'Rockit';
src: url('../fonts/Rockit.otf');
}

@font-face {
font-family: "Storm";
src: url('../fonts/stormfaze.otf');
}

@font-face {
font-family: 'Hell';
src: url('../fonts/Living\ Hell.otf');
}

:root {
--fonte-rockit: 'Rockit';
--font--storm: 'Storm';
--font-hell: 'Hell';
}

* {
padding: 0PX;
margin: 0px;
}

html {
margin: 0 auto;
padding: 0;
height: 100%;
width: 100%;
min-width: 340px;
box-sizing: border-box;
}

body {
min-height: 100%;
min-width: 100%;
font-family: 'Josefin Sans', sans-serif;
background-image: radial-gradient( circle farthest-corner at 48.4% 47.5%,  rgba(76,21,51,1) 0%, rgba(34,10,37,1) 90% );
}

/*SEÇÃO  DO CONTAINER NAVEGAÇÃO*/
#navigator{
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 9px 11px 12px 9px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 9px 11px 12px 9px rgba(0,0,0,0);
}
.content-nav-bar2{
background-color: #270B27;
min-height: 50px;
min-width: 420px;
display: flex;
justify-content: center;
align-items: center;
}
.content-nav-bar2 ul{
display: flex;

}
.content-nav-bar2 ul>li{
list-style-type: none;
font-size: 1.5em;
color: #f0f0f0;
margin-top: 30px;
display: flex;
justify-content: center;
align-items: center;
margin: 15px;

}
.listas{
    margin-right: 40px;
}
.listas li{
margin-top: 30px;

}
.menu{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.menu-content01{
border: 1px solid rgb(255, 255, 255);
margin-bottom: 8px;
width: 26px;

}
.menu-content02{
border: 1px solid rgb(227, 227, 227);
margin-bottom: 8px;
width: 26px;
}
.menu-content03{
border: 1px solid rgb(221, 221, 221);
width: 26px;
}

/*SEÇÃO  DO CONTAINER MAIN*/
#main{
margin-top: 20px;
min-width: 420px;
min-height: 100vh;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
background-image: radial-gradient( circle farthest-corner at 48.4% 47.5%,  rgba(76,21,51,1) 0%, rgba(34,10,37,1) 90% );
}
.content-txt-main,
.content-img-main{
    width: 700px;
    padding: 20px;
    
}.content-txt-main h1{
    color: rgb(130, 130, 130);
    font-size: 4em;
}
.content-txt-main h2,p{
    color: rgb(172, 171, 171);
}
.img-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}.img-content img{
    border-radius: 25px;
    opacity: 75%;
    -webkit-box-shadow: 14px 13px 18px -4px rgba(0,0,0,0.47);
-moz-box-shadow: 14px 13px 18px -4px rgba(0,0,0,0.47);
box-shadow: 14px 13px 18px -4px rgba(0,0,0,0.47);
}

/*SEÇÃO DO CONTAINER SOBRE*/    
.list-navgator02{
    display: flex;
    
}.list-navgator02 li{
    margin: 40px;
    list-style-type: none;
    font-size: 1.3em;
    color: white;
}
#container-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 80vh;
    min-width: 420px;    
    background-image: radial-gradient( circle farthest-corner at 48.4% 47.5%,  rgba(76,21,51,1) 0%, rgba(34,10,37,1) 90% );
}
.container-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 70vh;
    min-width: 420px;  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);  
}.pictures-skills{
    display: flex;
    flex-wrap: wrap;
}
.img-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(169, 168, 168, 0.543);
    margin: 15px;
    min-height: 250px;
    min-width: 190px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 9px 11px 12px 9px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 9px 11px 12px 9px rgba(0,0,0,0);
    transition: transform .5s;
    -moz-transform: translate(0px, -13px);
    -webkit-transform: translate(0px, -13px);
    -o-transform: translate(0px, -13px);
    -ms-transform: translate(0px, -13px);
    transform: translate(0px, -13px);
    border: solid rgba(250, 249, 249, 0.649);
}
.img-skills >p{
    display: none;
    transition: opacity 80%;
}
.img-skills:hover >p{
    display: block;
    font-size: 1.5em;
}
.img-skills:hover{
    transform: scale(0.9);
    box-shadow: none;
    border: solid rgba(227, 227, 227, 0.513);
   
}
.content-mobile img,
.content-desktops img,
.content-full img{
   
}
.content-mobile,
.content-desktops,
.content-full{
    padding: 10px;
    height: 400px;
    width: 300px;
    border: 3px solid #bebec0a3;
    border-radius: 5px;
    margin: 30px;
    -webkit-box-shadow: 12px 12px 7px 8px rgba(0,0,0,0.32);
    -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.32);
    box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.32);
    background-color: #FAF5E4;
    transition: transform .9s;      
}
.content-mobile:hover,
.content-desktops:hover,
.content-full:hover{
    transform: scale(.9);
    box-shadow: none;
}
.content-mobile{
    margin-right: 30px;
}
.content-desktops{
    margin-right: 30px;
}
#sub-content-mobile,
#sub-content-desktops,
#sub-content-full{
    border: 1px solid white;
    border-radius: 9px;
    padding: 5px;
    background-color: #FBF8F1;
    
}.content-list-mobile,
.content-list-desktops,
.content-list-full{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    min-height: 75%;
    border: 1px solid white;
    border-radius: 9px;
    margin-top: 5px;   
    background-color: #FBF8F1;
    
}
.content-list-mobile li,
.content-list-desktops li,
.content-list-full li{
    list-style-type: none;
}

#project{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 420px;
    max-width: 95vw;
    margin: 10px auto;
    height: 80px;
    border-radius: 15px;
    background-image: linear-gradient( 45deg,  rgba(115,18,81,1) 10.6%, rgba(28,28,28,1) 118% );
    -webkit-box-shadow: 5px -1px 15px 12px rgba(0,0,0,0.36);
-moz-box-shadow: 5px -1px 15px 12px rgba(0,0,0,0.36);
box-shadow: 5px -1px 15px 12px rgba(0,0,0,0.36);
}
#project h1{
    color: #e1dcdc;
    font-size: 2em;
}
#skills{
    margin-top: 20px;
    min-width: 420px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 3px 0px 15px 11px rgba(0,0,0,0.39);
-moz-box-shadow: 3px 0px 15px 11px rgba(0,0,0,0.39);
box-shadow: 3px 0px 15px 11px rgba(0,0,0,0.39);
}
#skills h1{
    color: wheat;
    font-size: 2em;
    margin: 20px;
    font-weight: normal;
}
.container-skills{
    
}
.pictures-skills{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*SEÇÃO  DO CONTAINER INFORMAÇÕES DO RODAPÉ*/
.informs-rodape {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
background-color: #edf2f4;
border-top: 1px solid rgba(255, 218, 185, 0.357);
max-width: 100%;
min-width: 320px;
margin: auto;
min-height: 190px;
min-width: 420px;
}
.infor-rodape {
min-width: 260px;
min-height: 120px;
padding: 0px;
margin: 5px;
margin-top: 10px;
text-align: center;
}
.infor-rodape h3 {
font-size: 1.2em;
font-family: 'Roboto', sans-serif;
color: #1b1b1b;
}
.infor-rodape ul {
padding: 0px;
min-height: 150px;
}
.infor-rodape li  {
list-style-type: none;
font-family: 'Roboto', sans-serif;
font-weight: normal;
font-size: .9em;
color: #171616;
padding: 0px;
margin: 0px;
}
.direitos-de-imagem li>a{
color: #151414;
text-decoration: none;
}

.content_btn_social-medias{
display: flex;
justify-content: center;
align-items: center;
background-color: #edf2f4;
min-width: 420px;
max-width: 100%;
}
.btn_facebook,
.btn_instagram,
.btn_youtube,
.btn_linkedin,
.btn_github {
transition: transform .5s;
border-radius: 30%;
margin: 10px;
width: 30px;
height: 30px;
}
.btn_facebook:hover,
.btn_facebook:hover,
.btn_instagram:hover,
.btn_youtube:hover,
.btn_linkedin:hover,
.btn_github:hover {
transform: scale(1.5);
}


.footer {
max-width: 100%;
min-width: 420px;
display: flex;
justify-content: center;
align-items: center;
height: 50px;
margin: auto;
background-color: #dadfe3;
font-family: 'Roboto', sans-serif;
font-weight: normal;
color: #000000;
}


