@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{ margin: 0; padding: 0; box-sizing: border-box; 
   }
body{ min-height: 100vh;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    font-family: 'Josefin Sans', sans-serif;
  
}

#navigator{

-webkit-box-shadow: 0px 10px 13px -7px #000000, 9px 11px 12px 9px rgba(0,0,0,0); 
box-shadow: 0px 10px 13px -7px #000000, 9px 11px 12px 9px rgba(0,0,0,0);
}
/*=================CONTAINER NAVIGATOR======================================*/
.content-nav-bar2{

background-color: #270B27;
min-height: 80px;
min-width: 420px;
display: flex;
justify-content: center;
align-items: center;
}
.content-nav-bar2 ul{
display: flex;

}
.content-nav-bar2 ul>li{
list-style-type: none;
font-size: 1.5em;
color: #d1cfcf;
display: flex;
justify-content: center;
align-items: center;
margin: 15px;

}

/*============SEÇÃO DOS BOTOES ANIMADOS DO NAVIGATOR=====*/
.btn{
    transition: .5s;
    color: wheat;
    cursor: pointer;
}
.btn:hover{
    text-decoration: underline;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: rgb(163, 76, 76);
   
  
}

/*============CONTAINER MAIN==============*/


.flavio::after
{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
   }
   /* Animação aplicada ao content referente a classe *.titulo-principal* resultando num efeito de cursor piscando. */
   
   @keyframes pisca{
       0%, 100%{
           opacity: 1;
       }
       50%{
           opacity: 0;
       }
   }


#main{

min-width: 420px;
min-height: 100vh;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
background-image: radial-gradient( circle farthest-corner at 5.6% 54.5%,  rgba(47,71,79,1) 0%, rgba(159,188,198,1) 83.6% );
}
.content-txt-main,
.content-img-main{
width: 700px;
padding: 20px;

}
.ola{
    font-size: 2em;
}
.flavio{

color: rgb(46, 158, 42);
font-size: 2.4em;
padding-top: 5px;
color: #45cb15;
text-shadow: 0 0 10px #5b5858;

}.monteiro{
color: #17706E;



font-size: 2.1em;
padding-right: 8px;
color: #05de22;
text-shadow: 0 0 10px #33a928;
}

.content-txt-main h2,p{
color: rgb(172, 171, 171);
}
.img-content{
display: flex;
justify-content: center;
align-items: center;
width: 400px;
}.img-content img{
opacity: 80%;
width: 460px;
height: 460px;
border-radius: 25px;
-webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 11px rgba(0,0,0,0); 
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 11px rgba(0,0,0,0);

}
/*========CONTAINER TEXTO SKILLS===================*/
#skills{


min-width: 420px;
min-height: 100px;
display: flex;
justify-content: center;
align-items: center;
-webkit-box-shadow: 3px 0px 15px 11px rgba(0,0,0,0.39);
-moz-box-shadow: 3px 0px 15px 11px rgba(0,0,0,0.39);
box-shadow: 3px 0px 15px rgba(0,0,0,0.39);
}
#skills h1{
color: rgb(195, 193, 193);
font-size: 2.5em;
margin: 20px;

}
/*===========CONTAINER PROJETOS TEXTO=============*/
#project{
visibility: hidden;
background-image: linear-gradient(-45deg, #434343 0%, black 100%);
display: flex;
justify-content: center;
align-items: center;
min-width: 420px;
height: 100px;
-webkit-box-shadow: 3px 0px 15px 11px rgba(0,0,0,0.39);
-moz-box-shadow: 3px 0px 15px 11px rgba(0,0,0,0.39);
box-shadow: 3px 0px 15px 11px rgba(0,0,0,0.39);
}
#project h1{
color: #b8b8b8;
font-size: 2.5em;
margin-left: 20px;
}
/*===========CONTAINER CARDS ANIMADOS PROJETOS=============*/
.card-container{
display: flex;
align-items: center;
justify-content: center;
min-height: 700PX;
min-width: 420px;
background-image: linear-gradient(to right, #868f96 0%, #596164 100%);


}
.container{ 
visibility: hidden;
position: relative;
display: flex;
align-items: center;
justify-content: center;
flex-wrap: wrap;
}
.container .cards{
position: relative;
cursor: pointer;
margin: 10px;
}
.container .cards .face{
min-width: 350px;
min-height: 220px;
transition: 0.5s;
border-radius: 4px;
} 
.container .cards .face.face1{
position: relative;
background-color: #f5f2f2;
display: flex;
justify-content: center;
align-items: center;
z-index: 1;
transform: translateY(100px);

}.container .cards:hover .face.face1{
background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
transform: translatey(0px);
}.container .cards .face.face1 .content{
opacity: 0.5s;
transition: 0.5s;
}
.container .cards:hover .face.face1 .content{
opacity: 1s;
}
.container .cards .face.face1 .content img{
max-width: 100px;

} .container .cards .face.face1 .content h3{
margin:  10px 0 0;
color: rgb(48, 192, 67);
text-align: center;
font-size: 1.5em;
} .container .cards .face.face2 {
position: relative;
background-color: #2e2d2c;
display: flex;
justify-content: center;
align-items: center;  
box-shadow: 0 20px 50px rgba(0, 0, 0,8 );
transform: translateY(-120px);
}
.container .cards:hover .face.face2 {
transform: translateY(0);
}
.container .cards .face.face2 .content{
margin: 15px 0 0;
display: inline-block;
text-decoration: none;
font-weight: 900;
color: #333;
padding: 5px;
border: 1px solid #333;
transition: 0.4s;
}
.container .cards .face.face2 .content{
border-radius: 10px;
}
.content p{
color: #05de22;
text-align: justify;
padding: 20px;
}
.content ul li>a{
    text-decoration: none;
    color: #1da02e;
    transition: .4s;
       
}
.content ul li>a:hover{
   text-decoration: underline;
   color: #f5f2f2;
}.content p{
    color:  #f5f2f2;
    transition: .5s;
}
.content p:hover{
    color: #1da02e;
    
}
/*============CONTAINER CARDS SKILLS==============*/
.container-skills{ 
    width: 1400px;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}
.container-skills .cards-skills{
    position: relative;
    cursor: pointer;
    margin: 10px;
}
.container-skills .cards-skills .face-card{
    width: 150px;
    height: 200px;
    transition: 0.5s;
    border-radius: 4px;
} 
.container-skills .cards-skills .face-card.face01{
    position: relative;
    background-color: #313130;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translate(0px);
   
}.container-skills .cards-skills:hover .face-card.face01{
   background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
    transform: translatez(150px);

}.container-skills .cards-skills .face-card.face01 .content{
    opacity: 0.5s;
    transition: 0.5s;
}
.container-skills .cards-skills:hover .face-card.face01 .content{
    opacity: 1s;
}
.container-skills .cards-skills .face-card.face01 .content img{
    max-width: 100px;
    
} .container-skills .cards-skills .face-card.face01 .content h3{
    margin:  10px 0 0;
    color: rgb(44, 166, 42);
    text-align: center;
    font-size: 1.5em;
    transition: .5s;
}.container-skills .cards-skills .face-card.face01 .content h3:hover{
    color: #eaebed;
}
 .container-skills .cards-skills .face-card.face02 {
    position: relative;
    background-color: #313130;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 20px 50px rgba(0, 0, 0,8 );
    transform: translatey(-200.4px);
}
.container-skills .cards-skills:hover .face-card.face02 {
    transform: translatey(0px);
}
.container-skills .cards-skills .face-card.face02 .contenta{
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
    transition: 0.4s;
}
.container-skills .cards-skills .face-card.face02 .content {
    border-radius: 10px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content h3{
    padding-top: 15px ;
}

.content>img{
    width: 62px;
    height: 62px;
}
.container-master-skills{
    margin: 0 auto;
   min-width: 420px;
    min-height: 540PX;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}.content ul>li{
    color: green;
    margin: 5px;
    text-transform: uppercase;
}
/*==========SEÇÃO  DO CONTAINER INFORMAÇÕES DO RODAPÉ=====*/
.informs-rodape {
display: flex;
justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;
background-color: #270B27;
max-width: 100%;
min-width: 320px;
margin: auto;
min-height: 190px;
min-width: 420px;
}
.infor-rodape {
min-width: 260px;
min-height: 120px;
padding: 0px;
margin: 5px;
margin-top: 10px;
text-align: center;
}
.infor-rodape h3 {
font-size: 1.2em;
font-family: 'Roboto', sans-serif;
color: #9b9494;
font-weight: bolder;
}
.infor-rodape ul {
padding: 0px;
min-height: 150px;
}
.infor-rodape li  {
list-style-type: none;
font-family: 'Roboto', sans-serif;
font-weight: normal;
font-size: .9em;
color: #b4a6a6;
padding: 0px;
margin: 0px;
}
.direitos-de-imagem li>a{
color: #a9a5a5;
text-decoration: none;
}
.tel{
display: flex;
justify-content: center;
align-items: center;
}
.tel img{
margin-right: 15px;
}

/*SEÇÃO  BOTÕES SOCIAIS*/
.content_btn_social-medias{
display: flex;
justify-content: center;
align-items: center;
background-color: #270B27;
min-width: 420px;
max-width: 100%;
}
.btn_facebook,
.btn_instagram,
.btn_youtube,
.btn_linkedin,
.btn_github {
transition: transform .5s;
margin: 10px;
width: 30px;
height: 30px;
}
.btn_facebook:hover,
.btn_facebook:hover,
.btn_instagram:hover,
.btn_youtube:hover,
.btn_linkedin:hover,
.btn_github:hover {
transform: scale(1.5);
}

/*SEÇÃO  DO CONTAINER DO RODAPÉ*/
.footer {
background-image: linear-gradient(-45deg, #434343 0%, black 100%);
max-width: 100%;
min-width: 420px;
display: flex;
justify-content: center;
align-items: center;
height: 50px;
margin: auto;

font-family: 'Roboto', sans-serif;
font-weight: normal;
color: #aaaaaa;
}

