@charset "UTF-8";
*{
    padding: 0PX;
    margin: 0px;
}
html{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
body{
    background-image: url('../images/backgrounds/01.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
    min-width: 100%;
    font-family: sans-serif;
}
@font-face {
    font-family: 'Rockit';
    src: url('../fonts/Rockit.otf');
}
@font-face {
    font-family: "Storm";
    src: url('../fonts/stormfaze.otf');
}
@font-face {
    font-family: 'Hell';
    src: url('../fonts/Living\ Hell.otf');
}
:root{
    --fonte-rockit:'Rockit';
    --font--storm:'Storm';
    --font-hell:'Hell';
}
#cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(36, 34, 34, 0.706);
    max-width: 1200px;
    min-width: 320px;
    margin: auto;
    min-height: 100px;
    font-family: var(--font--storm);
    color: antiquewhite;
}
#nav-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    min-width: 320px;
    margin: auto;
    min-height: 50px;
    background-color: aqua;
}
#nav-bar a{
    text-decoration: none;
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 1.3em;
    margin: 10px;
}
.main{
    background-image: url('../images/backgrounds/06.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 80%;
    max-width: 1200px;
    min-width: 320px;
    display: flex;
    justify-content:  center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: auto;
    box-shadow: 12px 12px 12px rgba(26, 26, 26, 0.839);
 }
 .history01, .history02, .history03, .history04{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    min-height: 250px;
    min-width: 250px;
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.904);
 }
 .history01{
    background-image: url('../images/backgrounds/13.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto; 
 }
.history01:hover{
    opacity: 80%;
    transition-duration: .5s;
    color: antiquewhite;
    font-size: 1.5em;
}
.history02:hover{
    opacity: 80%;
    transition-duration: .5s;
    color: antiquewhite;
}
.history03:hover{
    opacity: 80%;
    transition-duration: .5s;
    color: antiquewhite;
}
.history04:hover{
    opacity: 80%;
    transition-duration: .5s;
    color: antiquewhite;
}
 .history02{
    background-image: url('../images/backgrounds/09.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .history03{
    background-image: url('../images/backgrounds/14.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .history04{
    background-image: url('../images/backgrounds/11.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgb(42, 42, 43);
 }
#aside{
    background-color: rgba(155, 78, 78, 0.706);
    max-width: 1200px;
    min-width: 320px;
    height: 20%px;
    margin: auto;
}
.content-aside h2{
   color: #fff;
   font-family: var(--font--storm);
   text-align: center;
   padding: 10px;
}
.content-aside p{
    padding: 10px;
}
   
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(36, 34, 34, 0.706);
    max-width: 1200px;
    min-width: 320px;
    margin: auto;
    min-height: 80px;
    color: antiquewhite;


    
}
