@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@1.900 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );*/

@font-face {
font-family: 'Rockit';
src: url('../fonts/Rockit.otf');
}

@font-face {
font-family: "Storm";
src: url('../fonts/stormfaze.otf');
}

@font-face {
font-family: 'Hell';
src: url('../fonts/Living\ Hell.otf');
}

:root {
--fonte-rockit: 'Rockit';
--font--storm: 'Storm';
--font-hell: 'Hell';
}

* {
padding: 0PX;
margin: 0px;
}

html {
margin: 0 auto;
padding: 0;
height: 100%;
width: 100%;
min-width: 340px;
box-sizing: border-box;
}

body {
min-height: 100%;
min-width: 100%;
font-family: 'Josefin Sans', sans-serif;
background-color: #cccccc;
}

/*SEÇÃO  DO CONTAINER NAVEGAÇÃO*/
.content-nav-bar2{
background-color: #270B27;

min-height: 50px;
min-width: 420px;
display: flex;
justify-content: center;
align-items: center;
}
.content-nav-bar2 ul{
display: flex;

}
.content-nav-bar2 ul>li{
list-style-type: none;
font-size: 1.5em;
color: #f0f0f0;
margin-top: 30px;
display: flex;
justify-content: center;
align-items: center;
margin: 15px;

}.listas li{
margin-top: 30px;
}
.menu{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.menu-content01{
border: 2px solid rgb(255, 255, 255);
margin-bottom: 8px;
width: 26px;

}
.menu-content02{
border: 2px solid rgb(227, 227, 227);
margin-bottom: 8px;
width: 26px;
}
.menu-content03{
border: 2px solid rgb(221, 221, 221);
width: 26px;
}


/*SEÇÃO  DO CONTAINER MAIN*/
#main{
min-width: 420px;
min-height: 100vh;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
background-image: radial-gradient( circle farthest-corner at 48.4% 47.5%,  rgba(76,21,51,1) 0%, rgba(34,10,37,1) 90% );
}
.content-txt-main,
.content-img-main{
    width: 700px;
    padding: 20px;
    
}.content-txt-main h1{
    color: rgb(130, 130, 130);
    font-size: 4em;
}
.content-txt-main h2,p{
    color: rgb(172, 171, 171);
}
.img-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
}.img-content img{
    border-radius: 25px;
    opacity: 75%;
    -webkit-box-shadow: 14px 13px 18px -4px rgba(0,0,0,0.47);
-moz-box-shadow: 14px 13px 18px -4px rgba(0,0,0,0.47);
box-shadow: 14px 13px 18px -4px rgba(0,0,0,0.47);
}

/*SEÇÃO DO CONTAINER SOBRE*/
#navgator-02{
    display: flex;
    justify-content: center;
    align-items: center;
}.list-navgator02{
    display: flex;
    
}.list-navgator02 li{
    margin: 40px;
    list-style-type: none;
    font-size: 1.3em;
    color: white;
}
#container-projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 80vh;
    min-width: 420px;    
    background-color: #e9e4e4;
}
.content-mobile img,
.content-desktops img,
.content-full img{
   
}
.content-mobile,
.content-desktops,
.content-full{
    padding: 10px;
    height: 400px;
    width: 300px;
    border: 3px solid #bebec0a3;
    border-radius: 5px;
    margin: 30px;
    -webkit-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.32);
    -moz-box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.32);
    box-shadow: 10px 10px 5px -4px rgba(0,0,0,0.32);
    background-color: #FAF5E4;
    transition: transform .9s;      
}
.content-mobile:hover,
.content-desktops:hover,
.content-full:hover{
    transform: scale(.9);
    box-shadow: none;
}
.content-mobile{
    margin-right: 30px;
}
.content-desktops{
    margin-right: 30px;
}
#sub-content-mobile,
#sub-content-desktops,
#sub-content-full{
    border: 1px solid white;
    border-radius: 9px;
    padding: 5px;
    background-color: #FBF8F1;
    
}.content-list-mobile,
.content-list-desktops,
.content-list-full{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50%;
    min-height: 75%;
    border: 1px solid white;
    border-radius: 9px;
    margin-top: 5px;   
    background-color: #FBF8F1;
    
}
.content-list-mobile li,
.content-list-desktops li,
.content-list-full li{
    list-style-type: none;
}

#navgator-02{
min-width: 420px;
height: 80px;
background-color: #270B27;
-webkit-box-shadow: -1px -14px 19px -1px rgba(0,0,0,0.55);
-moz-box-shadow: -1px -14px 19px -1px rgba(0,0,0,0.55);
box-shadow: -1px -14px 19px -1px rgba(0,0,0,0.55);
}

/*SEÇÃO  DO CONTAINER INFORMAÇÕES DO RODAPÉ*/
.informs-rodape {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
background-color: #edf2f4;
border-top: 1px solid rgba(255, 218, 185, 0.357);
max-width: 100%;
min-width: 320px;
margin: auto;
min-height: 190px;
min-width: 420px;
}
.infor-rodape {
min-width: 260px;
min-height: 120px;
padding: 0px;
margin: 5px;
margin-top: 10px;
text-align: center;
}
.infor-rodape h3 {
font-size: 1.2em;
font-family: 'Roboto', sans-serif;
color: #1b1b1b;
}
.infor-rodape ul {
padding: 0px;
min-height: 150px;
}
.infor-rodape li  {
list-style-type: none;
font-family: 'Roboto', sans-serif;
font-weight: normal;
font-size: .9em;
color: #171616;
padding: 0px;
margin: 0px;
}
.direitos-de-imagem li>a{
color: #151414;
text-decoration: none;
}

.content_btn_social-medias{
display: flex;
justify-content: center;
align-items: center;
background-color: #edf2f4;
min-width: 420px;
max-width: 100%;
}
.btn_facebook,
.btn_instagram,
.btn_youtube,
.btn_linkedin,
.btn_github {
transition: transform .5s;
border-radius: 30%;
margin: 10px;
width: 30px;
height: 30px;
}
.btn_facebook:hover,
.btn_facebook:hover,
.btn_instagram:hover,
.btn_youtube:hover,
.btn_linkedin:hover,
.btn_github:hover {
transform: scale(1.5);
}


.footer {
max-width: 100%;
min-width: 420px;
display: flex;
justify-content: center;
align-items: center;
height: 50px;
margin: auto;
background-color: #dadfe3;
font-family: 'Roboto', sans-serif;
font-weight: normal;
color: #000000;
}