@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@1.900 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* background-image: linear-gradient( 109.6deg,  rgba(0,0,0,1) 11.2%, rgba(11,132,145,1) 91.1% );*/

@font-face {
font-family: 'Rockit';
src: url('../fonts/Rockit.otf');
}

@font-face {
font-family: "Storm";
src: url('../fonts/stormfaze.otf');
}

@font-face {
font-family: 'Hell';
src: url('../fonts/Living\ Hell.otf');
}

:root {
--fonte-rockit: 'Rockit';
--font--storm: 'Storm';
--font-hell: 'Hell';
}

* {
padding: 0PX;
margin: 0px;
}

html {
margin: 0 auto;
padding: 0;
height: 100%;
width: 100%;
min-width: 340px;
box-sizing: border-box;
}

body {
min-height: 100%;
min-width: 100%;
font-family: 'Josefin Sans', sans-serif;
background-color: #cccccc;
}

/*SEÇÃO  DO CONTAINER NAVEGAÇÃO*/
#container-header{
min-width: 420px;
display: flex;
justify-content: center;
align-items: center;
background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(28,38,47,1) 0%, rgba(37,47,57,1) 90% );
border-bottom: 1px solid wheat;
}

.box-logo-fm{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
min-width: 80px;
min-height: 60px;
border-radius: 20px;
margin-top: 20px;
padding: 10px;
text-align: center;
color: white;


}
#fm{
    margin-right: 25px;
    margin-top: 20px;
    font-size: 3.5em;
    color: #FFFFFF;
    color: #FFFFFF;

    text-shadow: 3px 5px 2px #474747;
}

#text-porti{
    margin-top: 20px;
    color: #FFFFFF;

    text-shadow: 3px 5px 2px #474747;


}

.content-nav-bar2{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(28,38,47,1) 0%, rgba(37,47,57,1) 90% );

min-height: 50px;
min-width: 420px;
display: flex;
justify-content: center;
align-items: center;


}
.content-nav-bar2 ul{
display: flex;

}
.content-nav-bar2 ul>li{
list-style-type: none;
font-size: 1.5em;
color: #f0f0f0;
margin-top: 30px;
display: flex;
justify-content: center;
align-items: center;
margin: 15px;

}.listas li{
    margin-top: 30px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu-content01{
    border: 2px solid rgb(255, 255, 255);
    margin-bottom: 8px;
    width: 26px;

}
.menu-content02{
    border: 2px solid rgb(227, 227, 227);
    margin-bottom: 8px;
    width: 26px;
}
.menu-content03{
    border: 2px solid rgb(221, 221, 221);
    width: 26px;
}


/*SEÇÃO  DO CONTAINER MAIN*/
#main{
    min-width: 420px;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient( circle farthest-corner at 48.4% 47.5%,  rgba(76,21,51,1) 0%, rgba(34,10,37,1) 90% );

    }
.desenvolvedor,
.mobile,
.desktops,
.completos{
    border-radius: 19px;
    margin: 10px;
    min-width: 280px;
    height: 180px;
    background-image: linear-gradient( 109.6deg,  rgba(255,221,225,1) 11.2%, rgba(255,255,255,1) 92.2% );
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    transition: transform .7s;
    outline: 3px inset rgba(26,90,164,0.51);
    -moz-transform: scale(1.1) translate(0px, -50px);
    -moz-transform: scale(1.1) translate(0px, 23px);
    -webkit-transform: scale(1.1) translate(0px, 23px);
    -o-transform: scale(1.1) translate(0px, 23px);
    -ms-transform: scale(1.1) translate(0px, 23px);
    transform: scale(1.1) translate(0px, 23px);
outline-offset: 0px;
}
.desenvolvedor:hover,
.mobile:hover,
.desktops:hover,
.completos:hover{
    transform: scale(1.1);
    box-shadow: none;
}
.desenvolvedor img,
.mobile img,
.desktops img,
.completos img{
    width: 48px;
    height: 48px;
    padding: 10px 0px 0px 10px;
}.desenvolvedor h1,
.mobile h1,
.desktops h1,
.completos h1{
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC, 2px 2px 2px rgba(206,206,206,0);
}
.content-dev{
    
    min-width: 80%;
    min-height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
}

/*SEÇÃO  DO CONTAINER INFORMAÇÕES DO RODAPÉ*/
.informs-rodape {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
background-color: #edf2f4;
border-top: 1px solid rgba(255, 218, 185, 0.357);
max-width: 100%;
min-width: 320px;
margin: auto;
min-height: 190px;
min-width: 420px;
}
.infor-rodape {
min-width: 260px;
min-height: 120px;
padding: 0px;
margin: 5px;
margin-top: 10px;
text-align: center;
}
.infor-rodape h3 {
font-size: 1.2em;
font-family: 'Roboto', sans-serif;
color: #1b1b1b;
}
.infor-rodape ul {
padding: 0px;
min-height: 150px;
}
.infor-rodape li  {
list-style-type: none;
font-family: 'Roboto', sans-serif;
font-weight: normal;
font-size: .9em;
color: #171616;
padding: 0px;
margin: 0px;
}
.direitos-de-imagem li>a{
color: #151414;
text-decoration: none;
}

.content_btn_social-medias{
display: flex;
justify-content: center;
align-items: center;
background-color: #edf2f4;
min-width: 420px;
max-width: 100%;
}
.btn_facebook,
.btn_instagram,
.btn_youtube,
.btn_linkedin,
.btn_github {
transition: transform .5s;
border-radius: 30%;
margin: 10px;
width: 30px;
height: 30px;
}
.btn_facebook:hover,
.btn_facebook:hover,
.btn_instagram:hover,
.btn_youtube:hover,
.btn_linkedin:hover,
.btn_github:hover {
transform: scale(1.5);
}


.footer {
max-width: 100%;
min-width: 420px;
display: flex;
justify-content: center;
align-items: center;
height: 50px;
margin: auto;
background-color: #dadfe3;
font-family: 'Roboto', sans-serif;
font-weight: normal;
color: #000000;
}