@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@1.900 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


@font-face {
    font-family: 'Rockit';
    src: url('../fonts/Rockit.otf');
}

@font-face {
    font-family: "Storm";
    src: url('../fonts/stormfaze.otf');
}

@font-face {
    font-family: 'Hell';
    src: url('../fonts/Living\ Hell.otf');
}

:root {
    --fonte-rockit: 'Rockit';
    --font--storm: 'Storm';
    --font-hell: 'Hell';
}

* {
    padding: 0PX;
    margin: 0px;
}

html {
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
    min-width: 340px;
    box-sizing: border-box;

}

body {
    min-height: 100%;
    min-width: 320px;
    max-width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    background-color: red;

}

/*SEÇÃO  DO CONTAINER NAVEGAÇÃO*/

#nav-bar {
    background-color: #112B3C;
    max-width: 100%;

}
.content-nav-bar{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#nav-bar a {
    text-decoration: none;
    color: antiquewhite;
    color: rgb(255, 255, 255);
    font-size: 1.3em;
    margin: 10px;
   

}
.buttons-container{
    margin-top: 10px;
    width: 100%;
    background-color: #112B3C;
    
}
.buttons{
    pad: px;
    margin: 0px 6px ;
    width: 110px;
    min-height: 35px;
    border: 1px solid #78938A;
    border-radius: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #525E75;
    color: #ffffff;
    transition: background-color 1s;
   
}
.buttons:hover{
    background-color: #D18CE0;
    color: #5D534A;
    

}

#social-media {
    max-width: 100%;
    min-width: 320px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90%;
}

#social-media img {
    margin: 5px;
}

.btn_social-medias {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 0px 0px;
}

.btn_facebook,
.btn_instagram,
.btn_youtube,
.btn_linkedin,
.btn_github {
    transition: transform .5s;
}

.btn_facebook:hover,
.btn_facebook:hover,
.btn_instagram:hover,
.btn_youtube:hover,
.btn_linkedin:hover,
.btn_github:hover {
    transform: scale(1.5);
}

.container-navbar {
    min-width: 100%;
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.content-nav-bar h2 {
    font-size: 1em;
}

.logo-flavio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px;
}

.logo-flavio h1 {
    color: wheat;
    text-align: center;
    font-size: 1.4em;
    padding-top: 10px;
}

.links {
    display: flex;
    justify-content: center;
    text-align: center;
    border: dashed rgb(255, 255, 255);
    margin-right: 30px;
}

.btn_social-medias img {
    width: 25px;
    height: 25px;
}

.btn_social-medias {
    max-width: 300px;
    min-width: 320px;
}


/*SEÇÃO  DO CONTAINER MAIN*/
.main {
    background-color: #EFEFEF;
    max-width: 100%;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.container-main {
    width: 95%;
    min-height: 95vh;
    background-color: azure;
    box-shadow: 3px 3px 3px 3px rgba(158, 158, 158, 0.589);
    border-radius: 0px 0px 25px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

/*SEÇÕES DAS IMGENS  DO CONTAINER MAIN*/
.developer-container01,
.mobile-container02,
.desktops-container03,
.completo-container04,
.photos-container05 {
    margin: 15px;
    text-align: center;
    color: whitesmoke;
    padding: 0px 5px 10px 5px;

}

.developer-container01 a,
.mobile-container02 a,
.desktops-container03 a,
.completo-container04 a,
.photos-container05 {
    text-decoration: none;
    color: wheat;
}

.developer-container01 a:hover,
.mobile-container02 a:hover,
.desktops-container03 a:hover,
.completo-container04 a:hover,
.photos-container05 {
    text-decoration: underline;
}

.developer-container01 h1,
h2,
.mobile-container02 h1,
h2,
.desktops-container03 h1,
h2,
.completo-container04 h1,
h2,
.photos-container05 h1,
h2 {
    margin-top: 25px;
    color: #112B3C;
}

.developer-container01 img,
.mobile-container02 img,
.desktops-container03 img,
.completo-container04 img,
.photos-container05 img {
    box-shadow: 5px 5px 5px rgba(62, 62, 62, 0.414);
    border-radius: 30% 10px 30% 10px;
    border: 1px solid #fff;
}

.developer-container01 img,
.de {
    transition: transform .5s;
}

.developer-container01 img:hover {
    transform: scale(1.1);
}

.mobile-container02 img,
.de {
    transition: transform .5s;
}

.mobile-container02 img:hover {
    transform: scale(1.1);
}

.desktops-container03 img,
.de {
    transition: transform .5s;
}

.desktops-container03 img:hover {
    transform: scale(1.1);
}

.completo-container04 img,
.de {
    transition: transform .5s;
}

.completo-container04 img:hover {
    transform: scale(1.1);
}
.photos-container05 img{
    transition: transform .5s;
}
.photos-container05 img:hover {
    transform: scale(1.1);
}

/*SEÇÃO  DO CONTAINER INFORMAÇÕES DO RODAPÉ*/
.informs-rodape {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #22333b;
    max-width: 100%;
    min-width: 320px;
    margin: auto;
    min-height: 250px;
}
.infor-rodape {
    padding: 0px;
    margin: 20px;
    margin-top: 10px;
}
.infor-rodape h3 {
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    color: #e6e6e6;
}
.infor-rodape {}

.infor-rodape li {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: .9em;
    color: #cccccc;
}
.direitos-de-imagem {
    margin-bottom: 10px;
}
.direitos-de-imagem li>a {
    color: #e1e1e1;
    text-decoration: none;
}
.footer {
    max-width: 100%;
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: auto;
    background-color: #112B3C;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: white;

}