@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Roboto:ital,wght@1.900 & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    padding: 0PX;
    margin: 0px;
}
html{
    margin: 0 auto;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
body{
    background-color: #e4ebef;
    min-height: 100%;
    min-width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 1px;
}
@font-face {
    font-family: 'Rockit';
    src: url('../fonts/Rockit.otf');
}
@font-face {
    font-family: "Storm";
    src: url('../fonts/stormfaze.otf');
}
@font-face {
    font-family: 'Hell';
    src: url('../fonts/Living\ Hell.otf');
}
:root{
    --fonte-rockit:'Rockit';
    --font--storm:'Storm';
    --font-hell:'Hell';
      
}
#cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    min-width: 320px;
    min-height: 100px;
    margin: auto;
    background: linear-gradient(to top right,#0d294d,#005792) fixed;
 }
#cabecalho h1{
    font-size: 3.5em;
    font-weight: bold;
    color: #1CB71C;
}
#projects{
    color: #A8A9BA;
}
#container-main {
    background: linear-gradient(to top right,#00204A,#005792,#00BBF0) fixed;
    max-width: 90%;
    min-width: 320px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
#navegacao{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    min-width: 320px;
    margin: auto;
    background: linear-gradient(90deg,rgb(16, 48, 90),#005792) fixed;

}#navegacao h2{
    color: #f5deb3;
}

.button-back{
    transition: transform .5s;
}
.button-back:hover{
    transform: scale(1.3);
}

.content-section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-width: 320px;
}
.ios{
   

  
}

.ios img{
    transition: transform .5s;
 
}
.ios img:hover{
    transform: rotatey(360deg);
}
.android{
    margin-left: 60px;
   
}.android img{
    transition: transform .5s; 
}
.android img:hover{
    transform: rotatey(360deg);
}
.ios h1{
    text-align: center;
    margin-top: 20px;
    color: #A8A9BA;
    font-size: 1.7em;
    margin-left: 0px;
    
}.android h1{
    text-align: center;
    margin-top: 20px;
    color: #1CB71C;
    font-size: 1.7em;
}
.footer {
    max-width: 90%;
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: auto;
    background: linear-gradient(90deg,rgb(16, 48, 90),#074f80) fixed;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: white;
}