@charset "UTF-8";
@media (max-width: 785px){
    .content-section h1{
        font-size: 1.4em;
        margin: 0 auto;
        text-align: center;
    }#cabecalho h1{
        font-size: 1.9em;
    }
}