@charset "UTF-8";
@media (max-width: 709px){
    .ios img{
        margin: 0;
    }.ios h1{
        text-align: center;
        font-size: 1.7em;
    }
    .android {
        margin: 0;
       
    }
    .ios img{
        max-width: 80%;
        max-height: 80%;
    
    }.android img{
        max-width: 80%;
        max-height: 80%;
    }
    .ios{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }.android{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ios h1{
        text-align: center;
        margin-top: 20px;
        color: wheat;
        font-size: 1.4em;
        margin-left: 0px;
        
    }.android h1{
        text-align: center;
        margin-top: 20px;
        color: wheat;
        font-size: 1.4em;
    }
    #cabecalho h1{
        font-size: 2em;
    }
    

    }
    @media (max-width: 578px){
        .ios img{
            max-width: 60%;
            max-height: 60%;
        
        }.android img{
            max-width: 60%;
            max-height: 60%;
        }
        .ios{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 25px;
        }.android{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }